.button {
  border-radius: 6px;
  border: 0.5px solid lightgray;
  outline: none;

  &_size_s {
    width: 180px;
    height: 44px;
    padding: 4px 8px;
    font-size: 28px;
  }

  &_size_m {
    width: 220px;
    height: 60px;
    padding: 6px 12px;
    font-size: 36px;
  }

  &_size_l {
    width: 260px;
    height: 80px;
    padding: 12px 16px;
    font-size: 44px;
  }

  &_color_grey {
    background-color: #d4d2cd;
  }
  &_color_green {
    background-color: #26ad2d;
  }
  &_color_yellow {
    background-color: #fcba03;
  }
  &_color_blue {
    background-color: #277fcc;
  }
  &_color_red {
    background-color: #cc2732;
    color: #ffffff;
  }

  &_color_grey {
    background-color: #d4d2cd;
  }
  &_color_green {
    background-color: #26ad2d;
  }
  &_color_yellow {
    background-color: #fcba03;
  }
  &_color_blue {
    background-color: #277fcc;
  }
  &_color_red,
  &_color_blue,
  &_color_green {
    color: #ffffff;
  }

  &_disabled {
    pointer-events: none;
    background-color: lightgray;
    opacity: 0.4;
  }

  & + & {
    margin-left: 16px;
  }
}
