.wrapper {
  width: 70vw;
  height: 50vh;
  margin: 25vh auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 16px;
}

.actions {
  display: flex;
  justify-content: flex-end;
}
