.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  background: url(./assets/example.svg);
  background-size: 100%;
  width: 400px;
  height: 400px;
}
